.sidebar {
  position: absolute;
  padding: 1em;
  z-index: 10;
  top: 0;
  left: -25vw;
  height: 100vh !important;
  width: 25vw;
  transition: left 0.3s ease-in-out;
  background-color: #212121;
  color: #e8ebe2;
  border: 2px solid #121212;
}

.sidebar-header {
  border-bottom: 1px solid #ebebeb;
}

.sidebar-body {
  margin-top: 1.5rem;
}

.sidebar-footer {
  margin-top: 1rem;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  left: 25vw;
  z-index: 1;
}

.sidebar.open {
  left: 0;
}
