.pattern-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 57.5%;
  height: 100%;
  background-color: #212121;
  color: #e8ebe2;
}
.pattern-container {
  width: 95%;
  height: 95%;
  position: relative;
}

.save-pattern-container {
  display: flex;
  position: absolute;
  top: 0;
}

/* SVG */

.pattern-editor-area {
  cursor: pointer;
}

.pattern-text-editor {
  position: absolute;
  display: flex;
  align-self: center;

  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.pattern-text-editor p {
  padding: 1.5em;
  border: 2px dashed #5bc0de;
}
.svg-editor-area {
  fill: #5bc0de;
  stroke: #0275d8;
  stroke-width: 1.5px;
}

.svg-editor-keyframes {
  fill: rgb(87, 85, 175);
}

.svg-editor-keyframes:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.svg-editor-y-label {
  position: absolute;
  top: 45%;
  left: -5%;
  transform: rotate(-90deg);
  font-size: 0.75rem;
}

.svg-editor-x-label {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.65rem;
}

.d3-tip {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: bold;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 4px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

.pattern-display-text {
  font-size: 12px;
  font-weight: bold;
}
