.pattern-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 57.5%;
  height: 100%;
  background-color: #212121;
  color: #e8ebe2;
}
.pattern-container {
  width: 97.5%;
  height: 85%;
  position: relative;
}

/* SVG */

.pattern-editor-area {
  cursor: crosshair;
}

.pattern-text-editor {
  position: absolute;
  display: flex;
  align-self: center;

  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.pattern-text-editor p {
  padding: 1.5em;
  border: 2px dashed #5bc0de;
}
.svg-editor-area {
  fill: #5bc0de;
  stroke: #0275d8;
  stroke-width: 1.5px;
}

.svg-editor-keyframes {
  fill: rgb(87, 85, 175);
}

.svg-editor-keyframes:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.svg-editor-y-label {
  position: absolute;
  top: 45%;
  left: -4%;
  transform: rotate(-90deg);
  font-size: 0.75rem;
}

.svg-editor-x-label {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.65rem;
}

.d3-tip {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: bold;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 4px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

.pattern-display-text {
  font-size: 12px;
  font-weight: bold;
}

.pattern-toolbar {
  width: 100%;
  height: 15%;
  color: #e8ebe2;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #121212;
}

.toolbar-tools {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.toolbar-button {
  width: 20%;
  height: 100%;
  display: flex;

  align-items: center;
}

.tool-container {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tool-container span {
  font-size: 0.5rem;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20%;
  height: 60%;
  cursor: pointer;
}

.coordinates {
  text-anchor: middle;
  fill: #e8ebe2;
  font-size: 0.75em;
}
.hidden {
  display: none;
}
