.tick {
  position: relative;
  border-left: 1px solid black;
  height: 10%;
}
.medium {
  height: 25%;
}

.large {
  height: 50%;
}

.ruler {
  background-color: rgb(201, 229, 245);
  position: relative;
  left: 15%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 85%;
  height: 10%;
}

.tick-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 10%;
  height: 90%;
}
/* .tick-container:last-child {
  justify-content: flex-start;
} */
.label-large {
  position: absolute;
  font-size: 0.5rem;
  bottom: 0;
  left: 0;
  margin: 0;
}

.timeline {
  width: 95%;
  height: 50%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.timeline-container {
  width: 100%;
  height: 100%;
}

.channel-container {
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  background-color: #121212;
}
.channel-row {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.toolbar-row {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
}

.channel-id {
  position: relative;
  color: #e8ebe2;
  width: 15%;
  height: 97.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.85rem;
  background-color: #212121;
}

.channel-id-column {
  /* font-weight: 500; */
  margin-left: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.channel-id-column span {
  margin-left: 3.5%;
}

.actuator-array {
  color: #606567;
}

.add-channel-btn {
  position: absolute;
  left: 5%;
  width: 65%;
}

.toolbar-buttons {
  position: absolute;
  right: 1%;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sl-btn {
  width: 45%;
}
.play-btn {
  color: #e8ebe2;
  background-color: #212121;
  border: none;
}
.play-btn:hover {
  opacity: 0.8;
}
.play-btn:active :focus :visited {
  text-decoration: none;
  border: none;
}
/* Timeline and Channel: onDragOver  */

.remove-channel {
  position: absolute;
  top: 0;
  right: 0;
}

.channel-track {
  display: flex;
  flex-direction: row;
  width: 82.5%;
  height: 97.5%;
  background-color: #212121;
  position: relative;
  color: #e8ebe2;
}
.toolbar-channel {
  justify-content: center;
}

.dropzone-content {
  left: 35%;
  top: 35%;
  position: absolute;
  color: #5bc0de;
  font-size: 1rem;
}

.timeline-display {
  height: 100%;
  position: absolute;
  display: flex;
}

.timeline-display-hover {
  display: flex;
  align-items: center;
  position: absolute;

  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  /* transition-delay: 0.5s; */
}

.channel-hover-info {
  width: 80%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xs {
  font-size: 0.6rem;
}
s {
  font-size: 0.75rem;
}

.channel-hover-add {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  transition: background-color 0.45s;
}

.channel-hover-add:hover {
  background-color: #2e3c42;
}

.timeline-display-hover:hover {
  opacity: 0.85;
  border: 1.5px solid #5bc0de;
  border-radius: 2.5px;
  cursor: pointer;
}

.channel-hover-remove {
  position: absolute;
  top: 0;
  right: 0;
}

.empty-channel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-channel p {
  margin: 0;
}

.selected {
  border: 1.5px solid #6ed8f8;
}
