body {
  font-family: "Open Sans";
}
strong {
  font-weight: 700;
}

.my-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: relative;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* Editor CSS */

.pattern-editor {
  width: 75%;
  height: 40%;
  flex-direction: column;
}

.actuator-container {
  width: 100%;
  height: 15%;
  flex-wrap: wrap;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.actuator-circle {
  cursor: grab;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
}

.actuator-hover-remove {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s;
}

.actuator-hover-remove:hover {
  opacity: 1;
  cursor: pointer;
}

.hardware-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.hardware-container img {
  max-width: 100%;
  max-height: 100%;
}

.overlay-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 100%;
}

.pattern-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 50%;
  height: 100%;
}
.pattern-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.save-pattern-container {
  display: flex;
  position: absolute;
  top: 0;
}

/* SVG */

.pattern-text-editor {
  position: absolute;
  display: flex;
  align-self: center;

  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.pattern-text-editor p {
  padding: 1.5em;
  border: 2px dashed #5bc0de;
}
.svg-editor-area {
  fill: #5bc0de;
  stroke: #0275d8;
  stroke-width: 1.5px;
}

.svg-editor-keyframes {
  fill: rgb(87, 85, 175);
}

.svg-editor-keyframes:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.svg-editor-y-label {
  position: absolute;
  top: 45%;
  left: -5%;
  transform: rotate(-90deg);
  font-size: 0.75rem;
}

.svg-editor-x-label {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.65rem;
}

/* ------------------------ TIMELINE ------------------------ ------------------------ */

.tick {
  position: relative;
  border-left: 1px solid black;
  height: 10%;
}
.medium {
  height: 25%;
}

.large {
  height: 50%;
}

.ruler {
  background-color: rgb(201, 229, 245);
  position: relative;
  left: 15%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 85%;
  height: 10%;
}

.tick-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 10%;
  height: 90%;
}
/* .tick-container:last-child {
  justify-content: flex-start;
} */
.label-large {
  position: absolute;
  font-size: 0.5rem;
  bottom: 0;
  left: 0;
  margin: 0;
}

.timeline {
  width: 100%;
  height: 50%;
}

.timeline-container {
  width: 75%;
  height: 75%;
  overflow-y: scroll;
}

.channel-row {
  width: 100%;
  height: 30%;
}

.channel-id {
  position: relative;
  background-color: #f8f9fa;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.channel-id-column {
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toolbar-size {
  width: 17.5% !important;
}

.toolbar-div {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Timeline and Channel: onDragOver  */

.remove-channel {
  position: absolute;
  top: 0;
  right: 0;
}

.channel-track {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 100%;
  background-color: #f8f9fa;
  position: relative;
}

.dropzone-content {
  left: 35%;
  top: 35%;
  position: absolute;
  color: #5bc0de;
  font-size: 1rem;
}

.timeline-display {
  height: 100%;
  position: absolute;
  display: flex;
}

.timeline-display-hover {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  transition-delay: 0.5s;
}

.channel-hover-info {
  width: 80%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xs {
  font-size: 0.6rem;
}
s {
  font-size: 0.75rem;
}

.channel-hover-add {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  transition: background-color 0.45s;
}

.channel-hover-add:hover {
  background-color: #2e3c42;
}

.timeline-display-hover:hover {
  opacity: 0.85;
  border: 1.5px solid #5bc0de;
  border-radius: 2.5px;
  cursor: pointer;
}

.channel-hover-remove {
  position: absolute;
  top: 0;
  right: 0;
}

.empty-channel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-channel p {
  margin: 0;
}

.selected {
  border: 1.5px solid #6ed8f8;
}

/* Library CSS */

.display-container {
  height: 55vh;
}
.display-row {
  height: 50%;
  overflow-y: scroll;
  flex-wrap: nowrap;
}

.library-modal-container {
  display: flex;

  width: 100%;

  flex-direction: row;
}

.library-search-form {
  padding: 10px;
  width: 30%;
  font-size: 0.95rem;
  background-color: #f7f7f7;
}

.libray-item-display {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100vh;
}

.card-item {
  width: 48%;
  height: max-content;
  margin: 0 0.5rem 0.5rem 0;
}

.library-pattern-display {
  width: 100%;
  height: 30%;
}

.svg-container {
  border: 1px solid #5bc0de;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.svg-container:hover {
  border: 2px solid #5bc0de;
}

.pattern-display-text {
  font-size: 12px;
  font-weight: bold;
}

/* Configuration Drawer */

.sidebar {
  position: absolute;
  padding: 1em;
  z-index: 10;
  top: 0;
  left: -25vw;
  height: 100vh !important;
  width: 25vw;
  transition: left 0.3s ease-in-out;
  background-color: #e2e6ea;
}

.sidebar-header {
  border-bottom: 1px solid black;
}

.sidebar-body {
  margin-top: 1.5rem;
}

.sidebar-footer {
  margin-top: 1rem;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  left: 25vw;
  z-index: 1;
}

.sidebar.open {
  left: 0;
}

/* Library CSS */

.library-display {
  cursor: pointer;
  border: 1px solid #292b2c;
  margin: 2px;
}

.library-display:hover {
  border: 2px solid #3b3e3f;
}

.display-pattern-container {
  width: 100%;
  height: 100%;
}

/* ------- TOOLTIP -------*/

.d3-tip {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: bold;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 4px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
