body {
  font-family: "Open Sans";
}
strong {
  font-weight: 700;
}

/* Editor CSS */

.my-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
  position: relative;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.pattern-editor {
  width: 95%;
  height: 45%;
  flex-direction: column;
}

/* All patterns displays -> timeline and library */

.display-pattern-container {
  width: 100%;
  height: 100%;
}
