.my-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  position: relative;
}

/* Editor CSS */

.pattern-editor {
  width: 75%;
  height: 40%;
  flex-direction: column;
}

.actuator-container {
  width: 100%;
  height: 15%;
  flex-wrap: wrap;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.actuator-circle {
  cursor: grab;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
}

.actuator-hover-remove {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s;
}

.actuator-hover-remove:hover {
  opacity: 1;
  cursor: pointer;
}

.hardware-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.hardware-container img {
  max-width: 100%;
  max-height: 100%;
}

.overlay-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 100%;
}

.pattern-container {
  width: 50%;
  height: 100%;
  position: relative;
}

/* SVG */

.svg-editor-area {
  fill: #5bc0de;
  stroke: #0275d8;
  stroke-width: 1.5px;
}

.svg-editor-keyframes {
  fill: rgb(87, 85, 175);
}

.svg-editor-keyframes:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.svg-editor-y-label {
  position: absolute;
  top: 45%;
  left: -5%;
  transform: rotate(-90deg);
  font-size: 0.75rem;
}

.svg-editor-x-label {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.65rem;
}

/* ------------------------ ------------------------ ------------------------ */
.timeline {
  width: 100%;
  height: 50%;
}

.timeline-container {
  width: 75%;
  height: 75%;

  overflow-y: scroll;
}

.channel-row {
  width: 100%;
  height: 33%;
}

.channel-id {
  position: relative;
  background-color: #f8f9fa;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.channel-id-column {
  text-align: center;
}

.toolbar-size {
  width: 17.5% !important;
}

/* Timeline and Channel: onDragOver  */

.remove-channel {
  position: absolute;
  top: 1px;
  right: 1px;
}

.channel-track {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 100%;
  background-color: #f8f9fa;
  position: relative;
}

.dropzone-content {
  left: 35%;
  top: 35%;
  position: absolute;
  color: #5bc0de;
  font-size: 1rem;
}

.timeline-display {
  height: 100%;
  position: relative;
}

.channel-hover-items {
  background-color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}

.channel-hover-items:hover {
  opacity: 0.85;
  border: 1.5px solid #5bc0de;
  border-radius: 2.5px;
}

.channel-hover-remove {
  position: absolute;
  top: 0;
  right: 0;
}

/* Library CSS */

.display-container {
  height: 55vh;
}
.display-row {
  height: 50%;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.svg-container {
  border: 1px solid #5bc0de;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.svg-container:hover {
  border: 2px solid #5bc0de;
}

.pattern-display-text {
  font-size: 12px;
  font-weight: bold;
}

/* Configuration Drawer */

.sidebar {
  position: absolute;
  padding: 1em;
  z-index: 10;
  top: 0;
  left: -25vw;
  height: 100vh !important;
  width: 25vw;
  transition: left 0.3s ease-in-out;
  background-color: #e2e6ea;
}

.sidebar-header {
  border-bottom: 1px solid black;
}

.sidebar-body {
  margin-top: 1.5rem;
}

.sidebar-footer {
  margin-top: 1rem;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  left: 25vw;
  z-index: 1;
}

.sidebar.open {
  left: 0;
}

/* Library CSS */

.library-display {
  cursor: pointer;
  border: 1px solid #292b2c;
  margin: 2px;
}

.library-display:hover {
  border: 2px solid #3b3e3f;
}

.display-pattern-container {
  width: 100%;
  height: 100%;
}

/* ------- TOOLTIP -------*/

.d3-tip {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: bold;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 4px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
